.align-center{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.appn{
    margin-top: 10px;
}
.square {
    display: inline-block;
    width: 15px;
    height: 25px;
    margin-right: 5px;
    color: white;
    background-color: blue;
    border-top: 3px solid white;
  }
  .black{
    background-color: black;
    
  }
  .mul5{
    border-top: 3px solid orange;
  }